
body {
    background-color: rgb(206, 204, 204);
}

* {
    font-family: 'Roboto Condensed', sans-serif;
}


.mycontainer a{
    color: black;
}


.mycontainer1 {
    padding: 0 100px;
}

.mycarousel {
    max-height: 100%;
    border-radius: 20px;
}

.mycarousel h1{
    color: rgb(97, 88, 88);
}

.pre-footer {
    margin: 50px 100px 0px 100px;
}

footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    color: white;
    margin: 0 100px;
    margin-top: 50px;
    border-radius: 20px 20px 0px 0px;
    /* left: 0;
    right: 0; */
    bottom: 0;
    background-color: rgb(238, 238, 238);
}

footer p{
    margin: 10px;
    color: black;
}