{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 d-flex align-items-center justify-content-center">
           <h1>Профиль пользователя</b>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex align-items-center justify-content-center">
            <a href="{% url 'module1:logout' %}">
            <button class="btn btn-info my-4 align-items-center register-button">Выйти</button>
            </a>
        </div>
    </div>
</div>
{% endblock content %}