{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="mycontainer1">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner mycarousel">
          <div class="carousel-item active">
            <img src="{% static 'photos/new-banner1.jpg'%}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h1>Метка первого слайда</h1>
            </div>
          </div>
          <div class="carousel-item mycarousel">
            <img src="{% static 'photos/new-banner2.jpg'%}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h1>Метка второго слайда</h1>
            </div>
          </div>
          <div class="carousel-item mycarousel">
            <img src="{% static 'photos/new-banner3.jpg'%}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h1>Метка третьего слайда</h1>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Предыдущий</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Следующий</span>
        </button>
      </div>
    </div>
    <section class="products-section">
      {% for item in object_list %}
      <div class="products-section-item">
        <a href="{% url 'module1:detail' item.id %}">
          <h3 class='products-item-title'>{{ item.title }}</h3>
          <img src="{{ item.image.url }}" alt="" width='330' height='330'>
          <p>От {{ item.regular_price }} руб.</p>
        </a>
      </div>
      {% endfor %}
    </section>
{% endblock content %}