{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 d-flex align-items-center justify-content-center">
               <h1>Ценообразование</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
               <p>Цена на печать и проявку пленок образуется по следующей формуле:</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>На матовой, глянцевой и полуглянцевой бумаге: 1.10 руб. * количество фотографий</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>На сверхглянцевой, шелковой и атласной бумаге: 1.20руб * количество фотографий</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Далее цена поэтапно изменяется в зависимости от:</p>
            <p>1) Размера бумаги:</p>
                <p>Формат 10х15 и 9х12 - итоговая цена увеличивается на 10%;</p>
                <p>Формат 15х20, 15х22,5 и 11,5х15 - итоговая цена увеличивается на 20%;</p>
                <p>Формат 21х30, 10х30 и 15х45 - итоговая цена увеличивается на 30%;</p>
                <p>Формат 20х30 - итоговая цена увеличивается на 60%;</p>
                <p>Формат 30х40, 30х42 и 30х45 - итоговая цена увеличивается на 80%;</p>
                <p>2) Срочности выполнения заказа:</p>
                <p>Цена заказа, который необходимо выполнить в срок менее 3х рабочих дней увеличивается вдвое</p>
                <p>3) Количества фотографий:</p>
                <p>Если количество фотографий превышает 20, цена формируется со скидкой в 5%</p>
                <p>4) Наличия скидочной карты:</p>
                <p>При наличии скидочной карты, цена формируется со скидкой в 10%</p>
                <p>5) Статуса клиента:</p>
                <p>Профессионалам предоставляется скидка в 10%</p>
                
        </div>
    </div>
</div>
{% endblock content %}